.sidenav {
    width: 5rem;
    background: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    transition: width 200ms ease;
}

.sidenav-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    margin-left: 1.5em;
    
}

.sidenav-nav:last-child {
    margin-top: auto;
} 

.link-text {
    display: none;
}

.sidenav-link {
    display: flex;
    align-items: center;   
    position: relative;
    height: 3rem;
    text-decoration: none;
    color: blue;
    margin-top: 1em;
}

.sidenav-link .sidenav-icons {
    margin-right: 0.5em; /* Adjust icon margin as needed */
}

.sidenav-link .link-text {
    position: absolute; /* Position text absolutely */
    left: 5rem;
    display: none;
}

.sidenav:hover {
    width: 16rem;
    z-index: 5;
}

.sidenav:hover .link-text {
    display:block;
    text-align: center;
}

.sidenav:hover .sidenav-icons {
    
}
